<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  <h1>PetSpot</h1>
    <div class="carousel-item active">
      <%= image_tag "mathew-smith-gM6QroS17aw-unsplash.jpg",
              class: "d-block w-100 home-img",
              alt: "Third slide" %>
      <p class="p-1">Find dog-friendly spots near you</p>
      <p class="p-2">Cafés, Parks & more</p>
    </div>
    <div class="carousel-item">
      <%= image_tag "rui-alves-bUueTEY-FOc-unsplash.jpg",
              class: "d-block w-100 home-img",
              alt: "Third slide" %>
       <p class="p-1">Find verified dog-friendly locations in seconds</p>
    </div>
    <div class="carousel-item">
      <%= image_tag "daniel-brunsteiner-_jd5ryWK5J4-unsplash.jpg",
              class: "d-block w-100 home-img",
              alt: "Third slide" %>
       <p class="p-1">From coffee to off-leash — discover it all</p>
    </div>
  </div>
  <%= render "locations/search", groups: @groups %>
  <div class="container scrollable-content">
    <h3 class="mt-0">Most popular </h3>
    <div class="row flex-nowrap overflow-scroll py-4">
      <% @popular.each do |location| %>
        <div class="col-5 col-md-5 col-lg-4 flex-grow-1">
          <%= render "locations/new_card", location: location %>
        </div>
      <% end %>
    </div>
    <h3 class="mt-4">Most recent </h3>
    <div class="row flex-nowrap overflow-scroll py-4">
      <% @recent.each do |location| %>
        <div class="col-5 col-md-5 col-lg-4 flex-grow-1">
          <%= render "locations/new_card", location: location %>
        </div>
      <% end %>
    </div>
  </div>
</div>