<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <h1>PetSpot</h1>
    <div class="carousel-inner">
      <% @locations.each_with_index do |location, index| %>
        <div class="carousel-item<%= index == 0 ? " active" : "" %>">
          <% if location.photos.attached? %>
            <%= cl_image_tag location.photos.first.key, class: "d-block", alt: location.name %>
          <% else %>
            <%= image_tag "no_img.png", class: "d-block w-100", alt: location.name %>
          <% end %>
        <p><%= location.name %></p>
        </div>
      <% end %>
    </div>
  </div>
<%= render "locations/search", groups: @groups %>

  <%# photo example %>
   <%# <%= image_tag "rui-alves-bUueTEY-FOc-unsplash.jpg", class: "d-block w-100", alt: "Dog"%>
