<%= form_with(url: locations_path, method: :get) do %>
  <div class="search_container">
    <input type="text" name="search" id="search">
    <button type="submit" name="commit" data-disable-with="Search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <%# Filter %>
  <div class="d-flex align-items-center">
    <div class="container-md mx-3 my-4 pt-4 rounded-5 border filters shadow-lg p-3 mb-5 bg-body rounded yellow-color">
      <div class="container">
        <div class="row">
          <div class="col-6 d-flex flex-column">
            <% @groups[2].each do |amenity| %>
              <label for="<%= amenity.key%>">
                <i class="fa-solid fa-paw fa-rotate-by" style="--fa-rotate-angle: -20deg;" ></i>
                <span><%= amenity.label%></span>
                <input type="checkbox" name="amenities[]" class="checkbox" <%= "checked" if params[:amenities]&.include?(amenity.key) %> id="<%= amenity.key%>" value="<%= amenity.key%>">
              </label>
            <% end %>
          </div>
          <div class="col-6 d-flex flex-column">
            <% @groups[1].each do |amenity| %>
              <label for="<%= amenity.key%>">
                <i class="fa-solid fa-paw fa-rotate-by" style="--fa-rotate-angle: -20deg;" ></i>
                <span><%= amenity.label%></span>
                <input type="checkbox" name="amenities[]"class="checkbox" <%= "checked" if params[:amenities]&.include?(amenity.key) %> id="<%= amenity.key%>" value="<%= amenity.key%>">
              </label>
            <% end %>
          </div>
          <%# more %>
          <div class="collapse" id="collapseExample">
            <div class="row">
              <div class="col-6 d-flex flex-column">
                <% @groups[0].each do |amenity| %>
                  <label for="<%= amenity.key%>">
                   <i class="fa-solid fa-paw fa-rotate-by" style="--fa-rotate-angle: -20deg;" ></i>
                    <span><%= amenity.label%></span>
                    <input type="checkbox" name="amenities[]" class="checkbox" <%= "checked" if params[:amenities]&.include?(amenity.key) %> id="<%= amenity.key%>" value="<%= amenity.key%>">
                  </label>
                <% end %>
              </div>
              <div class="col-6 d-flex flex-column">
                <% @groups[3].each do |amenity| %>
                  <label for="<%= amenity.key%>">
                   <i class="fa-solid fa-paw fa-rotate-by" style="--fa-rotate-angle: -20deg;" ></i>
                    <span><%= amenity.label%></span>
                    <input type="checkbox" name="amenities[]"class="checkbox" <%= "checked" if params[:amenities]&.include?(amenity.key) %> id="<%= amenity.key%>" value="<%= amenity.key%>">
                  </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <i class="fa-solid fa-chevron-down",
      data-bs-toggle="collapse",
      data-bs-target="#collapseExample",
      aria-expanded="false",
      aria-controls="collapseExample">
        </i>
      </div>
    </div>
  </div>
<% end %>
